body {

margin:0;

background:#0f172a;

color:white;

font-family:Arial, sans-serif;

}



header {

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

}



h1 {

font-size:42px;

margin:0;

}



#status {

font-size:18px;

color:#94a3b8;

}



#month-bar {

display:grid;

grid-template-columns:repeat(6,1fr);

gap:8px;

padding:10px 40px;

}



#month-bar button {

background:#1e293b;

color:white;

border:none;

padding:10px;

border-radius:8px;

cursor:pointer;

font-size:14px;

}



#month-bar button:hover {

background:#334155;

}



#month-bar button.active {

background:#2563eb;

}



#current-month {

padding-left:40px;

font-size:30px;

}



#planner {

display:grid;

grid-template-columns:

130px repeat(4,1fr);

gap:12px;

padding:20px 40px;

}



.cell {

background:#1e293b;

border-radius:12px;

padding:10px;

min-height:90px;

}



.header {

background:#334155;

font-size:22px;

font-weight:bold;

text-align:center;

}



.date {

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:20px;

font-weight:bold;

}



.card {

height:100%;

border-radius:10px;

padding:12px;

font-size:18px;

line-height:1.35;

cursor:grab;

overflow:hidden;

position:relative;

user-select:none;

}



.card:active {

cursor:grabbing;

}



.card.dragging {

opacity:.5;

transform:scale(.98);

}



.cell.drag-over {

outline:3px dashed white;

}



.card:hover {

overflow:visible;

z-index:10;

box-shadow:0 0 20px rgba(0,0,0,.5);

}



.card:hover::after {

content:attr(data-full);

position:absolute;

left:0;

top:100%;

background:#020617;

padding:12px;

border-radius:8px;

width:300px;

font-size:16px;

z-index:20;

}



.przemek {

background:#2563eb;

}



.rafal {

background:#7c3aed;

}



.marcin {

background:#ca8a04;

}



.michal {

background:#db2777;

}



.empty {

opacity:.2;

}



footer {

padding:20px 40px;

color:#94a3b8;

}




/* TELEFON */

@media(max-width:900px){


header{

padding:15px;

}


h1{

font-size:30px;

}


#month-bar{

padding:10px 15px;

}


#planner{

padding:15px;

grid-template-columns:

100px repeat(4,minmax(160px,1fr));

overflow-x:auto;

}


.cell{

min-height:100px;

}


.card{

font-size:16px;

}


}
